<div class="container">
  <h1>Liste Types Salle :</h1>

  <form [formGroup]="typeSalle" class="mb-3">
    <div class="input-group">
      <input formControlName="libelle" class="form-control" placeholder="Entrer type salle">
      <div class="input-group-append">
        <button type="button" class="btn btn-success btn-lg mb-2" (click)="addTypeSalle()">Ajouter</button>
      </div>
    </div>
    <div *ngIf="typeSalle.get('libelle').invalid && (typeSalle.get('libelle').dirty || typeSalle.get('libelle').touched)" class="invalid-feedback">
      Libelle du type de salle est requis.
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr *ngIf="ListTypeSalles.length !== 0">
          <th scope="col">Libelle</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of ListTypeSalles">
          <td>
            <ng-container *ngIf="!s.isEditing; else editInput">
              {{s.libelle}}
            </ng-container>
            <ng-template #editInput>
              <input type="text" [(ngModel)]="s.libelle" class="form-control">
            </ng-template>
          </td>
          <td class="text-center">
            <div *ngIf="!s.isEditing" class="btn-group">
              <button class="btn btn-success btn-sm" (click)="s.isEditing = true">Modifier</button>
              <button class="btn btn-danger btn-sm" (click)="deleteTypeSalle(s._id)">Supprimer</button>
            </div>
            <div *ngIf="s.isEditing" class="btn-group">
              <button class="btn btn-success btn-sm" (click)="updateTypeSalle(s)">Enregistrer</button>
              <button class="btn btn-secondary btn-sm" (click)="s.isEditing = false">Annuler</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
