<main id="main" class="main">

    <div class="pagetitle">
        <h1>Ajouter une Catégorie</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-md-8 offset-md-2"> <!-- Utilisation de offset-md-2 pour centrer le formulaire sur les écrans larges -->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Détail de la Catégorie</h5>

                        <!-- General Form Elements -->
                        <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
                            <div class="mb-3">
                                <label for="nom_categorie" class="form-label">Nom de la Catégorie</label>
                                <input type="text" class="form-control" id="nom_categorie" name="nom_categorie" [(ngModel)]="form.nom_categorie" required>
                                <div *ngIf="categoryForm.controls['nom_categorie'].invalid && categoryForm.controls['nom_categorie'].touched" class="invalid-feedback">
                                    Le nom de la catégorie est requis.
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Ajouter Catégorie</button>
                            </div>
                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
