<main id="main">

    <div>
        <h1>Ajouter une Catégorie</h1>
    </div><!-- End Page Title -->

    <section>
        <div>
            <div> <!-- Utilisation de offset-md-2 pour centrer le formulaire sur les écrans larges -->

                <div>
                    <div>
                        <h5>Détail de la Catégorie</h5>

                        <!-- General Form Elements -->
                        <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
                            <div>
                                <label for="nom_categorie">Nom de la Catégorie</label>
                                <input type="text" id="nom_categorie" name="nom_categorie" [(ngModel)]="form.nom_categorie" required>
                                <div *ngIf="categoryForm.controls['nom_categorie'].invalid && categoryForm.controls['nom_categorie'].touched">
                                    Le nom de la catégorie est requis.
                                </div>
                            </div>

                            <div>
                                <button type="submit">Ajouter Catégorie</button>
                            </div>
                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
