<html>

<body>
  <div class="container">
    <div class="form-container">
      <div class="form-left">
        <input type="email" placeholder="Enter your email" required>
        <input type="password" placeholder="Enter your password" required>
        
        <button type="submit">Sign In</button>
        <div class="small-text">Already have an account? <a href="signup">Sign Up</a></div>
      </div>
      <div class="form-right">
        <h1>Sign In</h1>
      </div>
    </div>
  </div>
</body>
</html>