<div class="container mt-5">
  <h2 class="mb-4">Product List</h2>
  <button class="btn btn-success mb-3" [routerLink]="['/product/add']">
    Add New Product
  </button>

  <div class="form-group">
    <input
      type="text"
      class="form-control mb-5"
      placeholder="Search products..."
      (input)="searchProduct($event)"
      [(ngModel)]="searchText"
    />
  </div>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of listProductSearched">
        <td>
          <img
            [src]="
              product.image && product.image.length > 0
                ? product.image
                : 'assets/category_img.png'
            "
            alt="Product Image"
            class="img-thumbnail"
            width="50"
          />
        </td>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.category.name }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm"
            [routerLink]="['/product/details', product._id]"
          >
            View
          </button>
          <button
            class="btn btn-info btn-sm ml-1"
            [routerLink]="['/product/update', product._id]"
          >
            Edit
          </button>
          <button class="btn btn-danger btn-sm" (click)="delete(product._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Links -->
  <div class="pagination">
    <ul class="pagination">
      <li class="page-item" *ngFor="let page of totalPagesArray()">
        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
      </li>
    </ul>
  </div>

  <p
    *ngIf="listProductSearched && listProductSearched.length === 0"
    class="text-center"
  >
    No products found!
  </p>
</div>
