<main id="main">
  <div>
    <h1>Ajouter Atelier</h1>
  </div>

  <section>
    <div>
      <div>
        <div>
          <div>
            <h5>Détail de l'Atelier</h5>

            <!-- General Form Elements -->
            <form [formGroup]="form" (ngSubmit)="addAtelier()">
              <div>
                <label for="nom">Nom Atelier</label>
                <div>
                  <input id="nom" type="text" formControlName="nom" required>
                </div>
              </div>

              <div>
                <label for="description">Description</label>
                <div>
                  <input id="description" type="text" formControlName="description" required>
                </div>
              </div>

              <div>
                <label for="lieu">Lieu</label>
                <div>
                  <input id="lieu" type="text" formControlName="lieu" required>
                </div>
              </div>

              <div>
                <label for="date_debut">Date début</label>
                <div>
                  <input id="date_debut" type="date" formControlName="date_debut" required>
                </div>
              </div>

              <div>
                <label for="date_fin">Date fin</label>
                <div>
                  <input id="date_fin" type="date" formControlName="date_fin" required>
                </div>
              </div>

              <div>
                <label for="Nbr_place">Nombre de places</label>
                <div>
                  <input id="Nbr_place" type="number" formControlName="Nbr_place" required>
                </div>
              </div>

              <div>
                <label for="frequence_de_repetition">Fréquence de répétition</label>
                <div>
                  <select id="frequence_de_repetition" formControlName="frequence_de_repetition" required>
                    <option value="Une seule fois">Une seule fois</option>
                    <option value="Quotidien">Quotidien</option>
                    <option value="Hebdomadaire">Hebdomadaire</option>
                    <option value="Bihebdomadaire">Bihebdomadaire</option>
                  </select>
                </div>
              </div>

              <div>
                <label for="typeAtelier">Type Atelier</label>
                <div>
                  <select id="typeAtelier" formControlName="typeAtelier" required>
                    <option *ngFor="let categorie of categories" [value]="categorie._id">{{ categorie.nom_categorie }}</option>
                  </select>
                </div>
              </div>

              <div>
                <label for="prix">Prix</label>
                <div>
                  <input id="prix" type="number" formControlName="prix" required>
                </div>
              </div>

              <div>
                <label for="frais_de_participation">Frais de participation</label>
                <div>
                  <select id="frais_de_participation" formControlName="frais_de_participation" required>
                    <option value="payant">Payant</option>
                    <option value="gratuit">Gratuit</option>
                  </select>
                </div>
              </div>

              <div>
                <div>
                  <button type="submit">
                    <i class="fas fa-plus"></i> Ajouter Atelier
                  </button>
                </div>
              </div>
            </form><!-- End General Form Elements -->

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
