<div class="container mt-5">
  <h1>Liste des Salles :</h1>

  <div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-success" [routerLink]="['/salle/add']">Ajouter Salle</button>
    <input type="text" class="form-control w-25" [(ngModel)]="searchText" placeholder="search Salle..." (keyup)="searchSalle($event)">
  </div>

  <table class="table table-bordered">
    <thead>
      <tr *ngIf="listSalleSearched.length != 0">
        <th>Id</th>
        <th>NomSalle</th>
        <th>Description</th>
        <th>Lieu</th>
        <th>Prix</th>
        <th>Image</th>
        <th>TypeSalle</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of listSalleSearched">
        <td>{{ s._id }}</td>
        <td>{{ s.nomSalle }}</td>
        <td>{{ s.description }}</td>
        <td>{{ s.lieu }}</td>
        <td>{{ s.prix }}</td>
        <td><img [src]="s.image" width="50" height="50"></td>
        <td>{{ getTypeSalleLibelleById(s.typeSalle) }}</td>
        <td>
          <button type="button" class="btn btn-success btn-sm" [routerLink]="['/salle/details/', s._id]">détails</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="delete(s._id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
