
<h1> Liste des Services : </h1>

<input type="text" [(ngModel)]="searchText" placeholder="Search services..." (keyup)="searchService($event)" >




<form [formGroup]="service">
    <input formControlName="libelle" placeholder="Service Name">
    <input type="submit" value="Add"  (click)="addService()">

</form>
    <table border="1">
    <tr *ngIf="listServices.length != 0">
        <th>id</th>
        <th>libelle</th>

    </tr>
    <tr *ngFor="let s of listServices">
        <td>{{s._id}}</td>
        <td>{{s.libelle}}</td>
        <td> <button (click)="removeService(s._id)">Delete</button></td>

        <!-- <td><a [href]="r.pieceJointe" target="_blank">Document</a></td> -->
        <!-- <td> <a [routerLink]="r._id">delete</a></td> -->

    </tr>
    
</table>