<div class="container">
  <h1>Liste des Catégories</h1>

  <!-- Champ de recherche -->
  <div class="mb-3 d-flex align-items-center">
    <input [(ngModel)]="searchText" class="form-control me-2" placeholder="Rechercher une catégorie">
    <button class="btn btn-success" (click)="search()">Rechercher</button>
  </div>

  <!-- Section pour les catégories actives -->
  <div class="card shadow-sm mb-4">
    <div class="table-responsive">
      <table class="table table-striped table-bordered mb-0">
        <thead>
          <tr>
            <th scope="col">Nom Catégorie</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categorie of listServices">
            <ng-container *ngIf="editingCategoryId !== categorie._id; else editCategory">
              <td>{{ categorie.nom_categorie }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button class="btn btn-success" (click)="startEditing(categorie._id)">Modifier</button>
                  <button class="btn btn-danger" (click)="delete(categorie._id)">Supprimer</button>
                  <button class="btn btn-secondary" (click)="archive(categorie._id)">Archiver</button>
                </div>
              </td>
            </ng-container>
            <ng-template #editCategory>
              <td>
                <input type="text" class="form-control" [(ngModel)]="categorie.nom_categorie" name="nom_categorie">
              </td>
              <td>
                <button class="btn btn-success me-2" (click)="saveChanges(categorie)">Sauvegarder</button>
                <button class="btn btn-secondary" (click)="cancelEditing()">Annuler</button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

 <!-- Section pour les catégories archivées -->
<div class="card shadow-sm">
  <div class="table-responsive">
    <h2>Catégories Archivées</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let archivedCategory of archivedCategories">
        {{ archivedCategory.nom_categorie }}
        <button class="btn btn-outline-info ms-2" (click)="restoreByName(archivedCategory.nom_categorie)">Restaurer</button>
      </li>
      
      <li class="list-group-item" *ngIf="archivedCategories.length === 0">Aucune catégorie archivée</li>
    </ul>
  </div>
</div>
