
<h1>{{reclamation.title}}</h1>

<h3> Type : {{service.libelle}}</h3> <hr>
<p>{{reclamation.description}}</p>
<br><br>
<div>
    <span style="color:green;" *ngIf="reclamation.status ==true">OUVERT</span>
    <span style="color:red;" *ngIf="reclamation.status ==false ">FERMER</span>
<span>----------------------</span>
    <span style="color:green;" *ngIf="reclamation.etat==true" >TRAITER</span>
    <span style="color:red;" *ngIf="reclamation.etat==false">NON TRAITER</span>
</div>
<br><br>

<p>{{reclamation.email}}</p>
<p>{{reclamation.pieceJointe}}</p>
<p>{{reclamation.email}}</p>
<p>{{reclamation.createdAt}}</p>
<p>{{reclamation.updatedAt}}</p>



<hr>
<button style="background-color: rgb(233, 214, 41);"  (click)="traiterRec()">traiter Reclamation </button>
<button style="background-color: rgb(36, 238, 30);"  (click)="ouvrireRec()">ouvrire reclamation </button>
<button style="background-color: rgb(233, 95, 41);"  (click)="fermerRec()">fermer Reclamation </button>
<hr><hr>
<h4>liste des commentaire </h4>
<div *ngFor="let c of listComment">
    <hr>
    <p>{{c.description}}</p>
    <button [disabled]="c.selection" (click)="satisfait(c)">satisfait</button>
    <button [disabled]="c.selection" (click)="nonsatisfait(c)">non satisfait</button>
    <button [disabled]="c.selection" (click)="delete(c)">delete</button>
    <hr>
</div>
<hr><hr>
<form [formGroup]="commentaire">
   <hr>
    <textarea formControlName="description" placeholder="description"></textarea><br>
    <input type="submit" value="Envoyer" (click)="commenter()">
</form>

