<main id="main" class="container mt-4">
    <div class="pagetitle mb-4">
      <h1>Liste des Gouvernorats</h1>
    </div>
    <section class="scrollable-section">
      <div class="card shadow-sm">
        <div class="card-body">
          <!-- Carte des Gouvernorats -->
          <h2>Carte des Gouvernorats</h2>
          <div id="map" style="height: 600px;"></div>
        </div> <!-- Fermeture de la div .card-body -->
      </div> <!-- Fermeture de la div .card -->
    </section> <!-- Fermeture de la section .scrollable-section -->
  </main> <!-- Fermeture de la balise main -->
  
  <style>
    .scrollable-section {
      max-height:500px;
      overflow-y: auto;
    }
  </style>
  