<!-- 
<h1>{{reclamation.title}}</h1>

<h3> Type : {{service.libelle}}</h3> <hr>
<p>{{reclamation.description}}</p>
<br><br>
<div>
    <span style="color:green;" *ngIf="reclamation.status ==true">OUVERT</span>
    <span style="color:red;" *ngIf="reclamation.status ==false ">FERMER</span>
<span>----------------------</span>
    <span style="color:green;" *ngIf="reclamation.etat==true" >TRAITER</span>
    <span style="color:red;" *ngIf="reclamation.etat==false">NON TRAITER</span>
</div>
<br><br>

<p>{{reclamation.email}}</p>
<p>{{reclamation.pieceJointe}}</p>
<p>{{reclamation.email}}</p>
<p>{{reclamation.createdAt}}</p>
<p>{{reclamation.updatedAt}}</p>



<hr>
<button style="background-color: rgb(233, 214, 41);"  (click)="traiterRec()">traiter Reclamation </button>
<button style="background-color: rgb(36, 238, 30);"  (click)="ouvrireRec()">ouvrire reclamation </button>
<button style="background-color: rgb(233, 95, 41);"  (click)="fermerRec()">fermer Reclamation </button>
<hr><hr>
<h4>liste des commentaire </h4>
<div *ngFor="let c of listComment">
    <hr>
    <p>{{c.description}}</p>
    <button [disabled]="c.selection" (click)="satisfait(c)">satisfait</button>
    <button [disabled]="c.selection" (click)="nonsatisfait(c)">non satisfait</button>
    <button [disabled]="c.selection" (click)="delete(c)">delete</button>
    <hr>
</div>
<hr><hr>
<form [formGroup]="commentaire">
   <hr>
    <textarea formControlName="description" placeholder="description"></textarea><br>
    <input type="submit" value="Envoyer" (click)="commenter()">
</form>
 -->



 <!-- <div class="reclamation-container scrollable">
    <h1 class="reclamation-title">{{reclamation.title}}</h1> : 
    <h3 class="reclamation-type"> Type : {{service.libelle}}</h3>
    <h4>{{user.name}} : </h4><p class="reclamation-description">{{reclamation.description}}</p>
    <div class="reclamation-status">
        <span class="status-open" *ngIf="reclamation.status == true">OUVERT</span>
        <span class="status-closed" *ngIf="reclamation.status == false">FERMER</span>
        <span class="status-treated" *ngIf="reclamation.etat == true">TRAITER</span>
        <span class="status-untreated" *ngIf="reclamation.etat == false">NON TRAITER</span>
    </div>
    <a [href]="reclamation.pieceJointe" target="_blank" *ngIf="reclamation.pieceJointe != null" class="reclamation-attachment">Downlaod Document</a>
    <p class="reclamation-email">{{reclamation.email}}</p>
    <p class="reclamation-created">{{reclamation.createdAt}}</p>
    <p class="reclamation-updated">{{reclamation.updatedAt}}</p>
    <hr>
    <div class="reclamation-actions">
        <button class="btn ouvrir" (click)="ouvrireRec()">Ouvrir Reclamation</button>
        <button class="btn fermer" (click)="fermerRec()">Fermer Reclamation</button>
    </div>
    <form [formGroup]="commentaire" class="comment-form">
        <hr>
        <textarea class="comment-textarea" formControlName="description" placeholder="Description"></textarea><br>
        <input class="btn envoyer" type="submit" value="Envoyer" (click)="commenter()">
    </form>
    <h4 class="comment-title">Liste des commentaires</h4>
    <div class="comment-list" *ngFor="let c of listComment">
        <hr>
        <p class="comment-description">{{c.description}}</p>
        <p>{{c.updatedAt}}</p>
        <div class="comment-actions">
            <button class="btn delete" [disabled]="c.selection" (click)="delete(c)">Supprimer</button>
        </div>
        <hr>
    </div>
    <hr>
    
    
    
</div> -->

<!-- ************************************* -->
<!-- 
<div class="reclamation-container">
    <div class="reclamation-details">
      <h1 class="reclamation-title">{{reclamation.title}}</h1>
      <h3 class="reclamation-type">Type : {{service.libelle}}</h3>
      <p class="reclamation-description">{{reclamation.description}}</p>
      <div class="reclamation-status">
        <div>
          <p>Status :</p>
          <span class="status-open" *ngIf="reclamation.status">OUVERT</span>
          <span class="status-closed" *ngIf="!reclamation.status">FERMER</span>
        </div>
        <div>
          <p>Etat de Traitement :</p>
          <span class="status-treated" *ngIf="reclamation.etat">TRAITER</span>
          <span class="status-untreated" *ngIf="!reclamation.etat">NON TRAITER</span>
        </div>
      </div>
      <a [href]="reclamation.pieceJointe" target="_blank" *ngIf="reclamation.pieceJointe" class="reclamation-attachment"><i class="fa fa-download"></i></a>
      <div class="reclamation-dates">
        <span>date pub :</span><span class="reclamation-updated">{{ reclamation.createdAt }}</span><br>
        <span>last update :</span><span class="reclamation-updated">{{ reclamation.updatedAt }}</span>
      </div>
      <div class="reclamation-actions">
        <button [disabled]="!reclamation.etat" class="btn ouvrir" (click)="ouvrireRec()">Ouvrir Reclamation</button>
        <button [disabled]="!reclamation.status" class="btn fermer" (click)="fermerRec()">Fermer Reclamation</button>
      </div>
      <form [formGroup]="commentaire" class="comment-form">
        <textarea class="comment-textarea" formControlName="description" placeholder="Description"></textarea><br>
        <input class="btn envoyer" type="submit" value="Envoyer" (click)="commenter()">
      </form>
    </div>
    
    <div class="comment-section">
      <h4 class="comment-title">Liste des commentaires</h4>
      <div class="comment-list" *ngFor="let c of listComment">
        <p *ngIf="c.roleUser === 'admin'">Vous</p>
        <p *ngIf="c.roleUser === 'user'">User</p>

        <div *ngIf="editingComment && editingComment._id === c._id; else viewMode">
            <textarea [(ngModel)]="editingComment.description" placeholder="Edit Description"></textarea>
            <button type="button" (click)="updateComment()">Update</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
        </div>

        <ng-template #viewMode>
            <p class="comment-description">{{c.description}}</p>
            <p>Date Commentaire : <span>{{c.updatedAt | date:'medium'}}</span></p>
            <div class="comment-actions" *ngIf="c.roleUser === 'admin'">
              <button class="btn delete nonsatisfait" [disabled]="c.selection" (click)="delete(c)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              <button class="btn edit" (click)="editComment(c)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </div>
          </ng-template>
      </div>
    </div>
</div> -->



  

<!-- ************************************* -->
<div class="reclamation-container">
  <div class="reclamation-details">
    <h1 class="reclamation-title">{{reclamation.title}}</h1>
    <h3 class="reclamation-type">Type : {{service.libelle}}</h3>
    <p class="reclamation-description">{{reclamation.description}}</p>
    <div class="reclamation-status">
      <div>
        <p>Status :</p>
        <span class="status-open" *ngIf="reclamation.status">OUVERT</span>
        <span class="status-closed" *ngIf="!reclamation.status">FERMER</span>
      </div>
      <div>
        <p>Etat de Traitement :</p>
        <span class="status-treated" *ngIf="!reclamation.status">TRAITER</span>
        <span class="status-untreated" *ngIf="reclamation.status">NON TRAITER</span>
      </div>
    </div>
    <a [href]="reclamation.pieceJointe" target="_blank" *ngIf="reclamation.pieceJointe" class="reclamation-attachment"><i class="fa fa-download"></i></a>
    <div class="reclamation-dates">
      <span>date pub :</span><span class="reclamation-updated">{{ reclamation.createdAt }}</span><br>
      <span>last update :</span><span class="reclamation-updated">{{ reclamation.updatedAt }}</span>
    </div>
    <div class="reclamation-actions">
      <button [disabled]="" class="btn ouvrir" (click)="ouvrireRec()">Ouvrir Reclamation</button>
      <button [disabled]="" class="btn fermer" (click)="fermerRec()">Fermer Reclamation</button>
    </div>
    <form [formGroup]="commentaire" class="comment-form">
      <textarea class="comment-textarea" formControlName="description" placeholder="Description"></textarea><br>
      <input class="btn envoyer" type="submit" value="Envoyer" (click)="commenter()">
    </form>
  </div>
  
  <div class="comment-section">
    <h4 class="comment-title">Liste des commentaires</h4>
    <div class="comment-list" *ngFor="let c of listComment">
      <p *ngIf="c.roleUser === 'admin'">Vous</p>
      <p *ngIf="c.roleUser === 'user'">User</p>

      <div *ngIf="editingComment && editingComment._id === c._id; else viewMode" class="editing-comment">
          <textarea [(ngModel)]="editingComment.description" placeholder="Edit Description" class="edit-textarea"></textarea>
          <button class="btn update" type="button" (click)="updateComment()">Update</button>
          <button class="btn cancel" type="button" (click)="cancelEdit()">Cancel</button>
      </div>

      <ng-template #viewMode>
          <p class="comment-description">{{c.description}}</p>
          <p>Date Commentaire : <span>{{c.updatedAt | date:'medium'}}</span></p>
          <div class="comment-actions" *ngIf="c.roleUser === 'admin'">
            <button class="btn delete nonsatisfait" [disabled]="c.selection" (click)="delete(c)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            <button class="btn edit" (click)="editComment(c)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
          </div>
        </ng-template>
    </div>
  </div>
</div>
