<!-- <div class="container mt-5">
    <h2 class="text-center mb-4">Reservation Details</h2>
    <div *ngIf="reservatioSalle">
      <p><strong>Reservation ID:</strong> {{ reservatioSalle._id }}</p>
      <p><strong>Start Date:</strong> {{ reservatioSalle.dateDebut | date:'mediumDate' }}</p>
      <p><strong>End Date:</strong> {{ reservatioSalle.dateFin | date:'mediumDate' }}</p>
      <p><strong>Salle ID:</strong> {{ reservatioSalle.idSalle }}</p>
      <p><strong>Email:</strong> {{ reservatioSalle.email }}</p>
      <p><strong>User ID:</strong> {{ reservatioSalle.idUser }}</p>
    
    </div>
    <div *ngIf="!reservatioSalle">
      <p>No reservation details found.</p>
    </div>
  </div> 
-->
  