/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .title {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 2em;
    font-weight: bold;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-container input {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .search-container input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .sort-filter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .sort-filter-container select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .sort-filter-container select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .reclamation-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reclamation-table th,
  .reclamation-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }
  
  .reclamation-table th {
    background-color: #007BFF;
    color: #fff;
  }
  
  .reclamation-row:hover td {
    background-color: #f1f1f1;
  }
  
  .fa-download, .fa-file-text, .fa-pencil-square, .fa-trash {
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .fa-download:hover, .fa-file-text:hover, .fa-pencil-square:hover, .fa-trash:hover {
    color: #007BFF;
    transform: scale(1.1);
  }
  
  /* Add animation */
  .reclamation-row {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
  }
  
  button:hover {
    color: #FF6347;
  }
      