<div class="container">
  <h3 class="text mb-4">Salles > Détails de la Salle</h3>
  <div *ngIf="salle" class="salle-container card p-4" style="max-width: 1000px; margin: 0 auto;">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="salle-image">
          <img [src]="salle.image" alt="{{ salle.nomSalle }}" class="card-img-top" style="width: 100%; height: 400px; object-fit: cover;">
        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body text-center text-md-start d-flex flex-column h-100 justify-content-center">
          <h1 class="card-title">Salle {{ salle.nomSalle }}</h1>
          <p class="card-text">{{ salle.description }}</p>
          <p class="card-text"><strong>Lieu :</strong> {{ salle.lieu }}</p>
          <p class="card-text"><strong>Prix :</strong> {{ salle.prix }} DT</p>
          <p class="card-text"><strong>Type de Salle :</strong> {{ getTypeSalleLibelle(salle.typeSalle) }}</p>
          <div class="mt-auto text-end">
            <a href="#" class="btn btn-primary mr-2" [routerLink]="['/nav2/ReservationSalleClient', salle._id]">Réserver</a>
            <a class="btn btn-secondary" [routerLink]="['/nav2/listSalleClient']">retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rating -->
<!-- <div class="rating">
  <input type="radio" id="star-1" name="star-radio" value="1">
  <label for="star-1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
  <input type="radio" id="star-2" name="star-radio" value="2">
  <label for="star-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
  <input type="radio" id="star-3" name="star-radio" value="3">
  <label for="star-3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
  <input type="radio" id="star-4" name="star-radio" value="4">
  <label for="star-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
  <input type="radio" id="star-5" name="star-radio" value="5">
  <label for="star-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
</div> -->
