.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    fill: transparent;
    stroke: #666;
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
  }
  
  .rating label:hover svg {
    stroke: #ffc73a;
  }
  
  .rating input:checked ~ label svg {
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: #ffc73a;
    stroke: #ffc73a;
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
    /* Autres étapes de l'animation */
  }
  