<main id="main" class="container mt-4">
    <div class="pagetitle mb-4">
      <h1>Ajouter un Quiz pour l'Atelier</h1>
    </div>
  
    <div class="card shadow-sm">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          <div class="mb-4">
            <label for="question" class="form-label">Question</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="bi bi-question-circle"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="question" name="question" [(ngModel)]="quiz.question" required>
              <div class="invalid-feedback">
                Question est requise.
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="options" class="form-label">Options (séparées par des virgules)</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="bi bi-list-ul"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="options" name="options" [(ngModel)]="quiz.options" required>
              <div class="invalid-feedback">
                Options sont requises.
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="correctAnswer" class="form-label">Réponse Correcte</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="bi bi-check-circle"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="correctAnswer" name="correctAnswer" [(ngModel)]="quiz.correctAnswer" required>
              <div class="invalid-feedback">
                Réponse correcte est requise.
              </div>
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary w-100">Ajouter le Quiz</button>
        </form>
      </div>
    </div>
  
    <!-- Messages de réponse avec animation -->
    <div *ngIf="responseMessage" [ngClass]="{'alert-success': isCorrect, 'alert-danger': !isCorrect}" class="alert mt-4" role="alert">
      <div [@fadeInOut] class="text-center">
        {{ responseMessage }}
      </div>
    </div>
  </main>
  